<header class="site-header" role="banner">
  <div class="wrapper site-header__inner">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav" aria-label="Основная навигация">
      <a class="page-link{% if page.url == "/" %} is-active{% endif %}" href="{{ "/" | relative_url }}">Блог</a>
      <a class="page-link{% if page.url == "/about/" %} is-active{% endif %}" href="{{ "/about/" | relative_url }}">О сайте</a>
    </nav>
  </div>
</header>
